body{
    background:#0f172a;
    color:white;
    font-family:Arial,sans-serif;
    text-align:center;
    margin:0;
    padding:20px;
}

h1{
    margin-bottom:30px;
}

.card:hover{
    transform:scale(1.03);
    transition:0.3s;
}

input{
    padding:10px;
    margin:5px;
    border:none;
    border-radius:5px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

ul{
    list-style:none;
    padding:0;
}
img{
    width:120px;
    height:120px;
    border-radius:50%;
}
